/*Formatação da estrutura*/

*{
    margin: 0;
    padding: 0;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

header{
   height: 120px;
   padding: 20px;
   background: url(logo1.jpg)no-repeat;
}

main{
   background-color: blanchedalmond;
   width: 70%;
   float: left;
   padding: 20px;
   box-sizing: border-box;

   h1{
    display: none;
   }

}

aside{
   background-color: greenyellow;
   width: 30%;
   float: left;
   padding: 20px;
   box-sizing: border-box;
}

footer{
    background-color: yellow;
}

/*Componente menu principal*/
.caixa-menuprincipal{
    float: right;
}

.caixa-menuprincipal ul{
    list-style-type: none;
}

.caixa-menuprincipal ul li{
    display: inline-block;

}

.caixa-menuprincipal ul li a{
    text-decoration: none;
    color: black;
    background-color: gainsboro;
    font-weight: bold;
    padding: 10px;
}

.caixa-menuprincipal ul li a:hover{
    background-color: gold;
}

/*Componente postagem*/
.caixa-post{
    margin-bottom: 20px;
    }

/*Componente pesquisa*/
.caixa-pesquisa{
float: right;
}


/*Componente Cartegoria*/
.Caixa-cartegoria ul li a{
    color: red;
    }
    
